/***Wskazówki**
* Podziel stronę odpowiednio (section, header, footer) 
* Czarne tło pod headerem oraz pod trzema boxami powinny być rozciągnięte na 100% szerokości strony.
* Linie czerwone przedstawione na powyższym przykładzie traktuj jako linie pomocnicze będące obramowaniem 
kontenera środkującego. Odpowiednio go nazwij np. main_width. */

* {
	font-family: "Raleway", Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




@font-face {
	font-family: 'Raleway';
	src: url('Raleway-LightItalic.eot');
	src: url('Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-LightItalic.woff2') format('woff2'),
		url('Raleway-LightItalic.woff') format('woff'),
		url('Raleway-LightItalic.ttf') format('truetype'),
		url('Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ThinItalic.eot');
	src: url('Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ThinItalic.woff2') format('woff2'),
		url('Raleway-ThinItalic.woff') format('woff'),
		url('Raleway-ThinItalic.ttf') format('truetype'),
		url('Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLight.eot');
	src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLight.woff2') format('woff2'),
		url('Raleway-ExtraLight.woff') format('woff'),
		url('Raleway-ExtraLight.ttf') format('truetype'),
		url('Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBoldItalic.eot');
	src: url('Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBoldItalic.woff2') format('woff2'),
		url('Raleway-ExtraBoldItalic.woff') format('woff'),
		url('Raleway-ExtraBoldItalic.ttf') format('truetype'),
		url('Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.eot');
	src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Thin.woff2') format('woff2'),
		url('Raleway-Thin.woff') format('woff'),
		url('Raleway-Thin.ttf') format('truetype'),
		url('Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-BlackItalic.eot');
	src: url('Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-BlackItalic.woff2') format('woff2'),
		url('Raleway-BlackItalic.woff') format('woff'),
		url('Raleway-BlackItalic.ttf') format('truetype'),
		url('Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Black.eot');
	src: url('Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Black.woff2') format('woff2'),
		url('Raleway-Black.woff') format('woff'),
		url('Raleway-Black.ttf') format('truetype'),
		url('Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot');
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff2') format('woff2'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype'),
		url('Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-BoldItalic.eot');
	src: url('Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-BoldItalic.woff2') format('woff2'),
		url('Raleway-BoldItalic.woff') format('woff'),
		url('Raleway-BoldItalic.ttf') format('truetype'),
		url('Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBoldItalic.eot');
	src: url('Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBoldItalic.woff2') format('woff2'),
		url('Raleway-SemiBoldItalic.woff') format('woff'),
		url('Raleway-SemiBoldItalic.ttf') format('truetype'),
		url('Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Medium.eot');
	src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Medium.woff2') format('woff2'),
		url('Raleway-Medium.woff') format('woff'),
		url('Raleway-Medium.ttf') format('truetype'),
		url('Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBold.eot');
	src: url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBold.woff2') format('woff2'),
		url('Raleway-ExtraBold.woff') format('woff'),
		url('Raleway-ExtraBold.ttf') format('truetype'),
		url('Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff2') format('woff2'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype'),
		url('Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-MediumItalic.eot');
	src: url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-MediumItalic.woff2') format('woff2'),
		url('Raleway-MediumItalic.woff') format('woff'),
		url('Raleway-MediumItalic.ttf') format('truetype'),
		url('Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Regular.woff2') format('woff2'),
		url('Raleway-Regular.woff') format('woff'),
		url('Raleway-Regular.ttf') format('truetype'),
		url('Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLightItalic.eot');
	src: url('Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLightItalic.woff2') format('woff2'),
		url('Raleway-ExtraLightItalic.woff') format('woff'),
		url('Raleway-ExtraLightItalic.ttf') format('truetype'),
		url('Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Light.eot');
	src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Light.woff2') format('woff2'),
		url('Raleway-Light.woff') format('woff'),
		url('Raleway-Light.ttf') format('truetype'),
		url('Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Italic.eot');
	src: url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Italic.woff2') format('woff2'),
		url('Raleway-Italic.woff') format('woff'),
		url('Raleway-Italic.ttf') format('truetype'),
		url('Raleway-Italic.svg#Raleway-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}


html, body {
	width: 100%; /*zawsze przyjmuje szerokość urządzenia*/
}

.container { /*pomaga wyśrodkować elementy*/
	position: relative;
	width: 1000px;
	height: inherit;
	margin: 0 auto;

}
.row {
	width: 50%;
	height: auto;
	float: left;
}

/*1. css dla elementu header*/

header {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background-color: black;
	line-height: 60px;
	text-transform: uppercase;
}

li {
	float: left;
	padding-left: 30px;
}

#menu_list {
	list-style-type: none;
	float: right;
	display: inline-block;
	float: right;
	color: white;

}

#sit_on_chair {
	color: white;
	float: left;
	display: inline-block;
	
}

/* 2. Ustawienie koloru dla elementów span*/
span {
	color: rgb(39, 184, 150);
}

section {
	width: 100%;
	display: inline-block;
}

/*3. Ustawienia sekcja 1*/

#info {
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.06, #DCDBE1),
	color-stop(1, #F9F9F9),
	color-stop(1, #F8F8F8)
);
background-image: -o-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -moz-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -webkit-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -ms-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: linear-gradient(to top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);;
}


#background_sec1 {
	
	position: relative;
	width: 40%;
	height: 300px;
	padding: 15px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#arrow_left {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: left;
	margin-top: 150px;
}

#arrow_right {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: right;
	margin-top: 150px;
}
#title {
	position: relative;
	float: left;
	padding: 10px;
	width: 450px;
	height: 300px;
	margin-top: 70px;
}
#title > h1 {
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-size: 32px;
}

#title p:first-child {
	padding: 10px;
	text-align: center;
	font-size: 16px;
	
}
#title >button {
	background-color: rgb(39, 184, 150);
	border-radius: 10px;
	font-size: 18px;
	width: 250px;
	height: 50px;
	padding: 10px;
	text-transform: uppercase;
	color: white;
	margin-left: 100px;
	vertical-align: middle;

}

#photo {
	background-color: white;
	display: inline-block;
}


/*white_box - klasa odpowiedzialna za div w sekcji photo; ustawia bazowe prostokąty*/
.white_box {
	width: 300px;
	height: 210px;
	float: left;
	display: inline-block;
	background-color: white;
	margin: 20px auto;
}

.white_box span{
	color: black;
	text-transform: uppercase;
}

/*white_box h1: odpowiada za tekst z nazwą krzeseł w pierwszych dwóch div;
 pasek pod tekstem ustawiony jako border-bottom*/
.white_box h1 {
	font-size: 15px;
	font-weight: 600;
	width: 130px;
	height: 30px;
	border-bottom: 8px solid rgb(39, 184, 150);
}


/*white_box1 - id pierwszego prostokąta w sekcji photo, w tle wstawiony obrazek*/
#white_box1 {

	background-image: url("../images/box1_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*white_box1 div: odpowiada za pasek, na któym znajduje się tekst opisu krzesła na
div pierwszym; kolor biały, przezroczystość ustawiona na 50%*/
#white_box1 div{
	background-color: rgba(255, 255, 255, .5);
	width: 300px;
	height: 50px;
	margin-top: 140px;
	padding-top: 10px;
	padding-left: 10px;
}

/*white_box2 - id drugiego prostokąta w sekcji photo, w tle wstawiony obrazek*/
#white_box2 {
	background-image: url("../images/box2_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
}

/*white_box2 div: odpowiada za pasek, na któym znajduje się tekst opisu krzesła na
div pierwszym; kolor biały, przezroczystość ustawiona na 50%*/
#white_box2 div{
	background-color: rgba(255, 255, 255, .5);
	width: 300px;
	height: 50px;
	margin-top: 140px;
	padding-top: 10px;
	padding-left: 10px;
}

#white_box3 {

	border: 1px solid rgb(217, 217, 217);
	width: 300px;
	height: 230px;
	padding: 10px;
}

#white_box_text  {
	width: 180px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 10px solid rgb(39, 184, 150);
	
}

#white_box3 p:first-of-type {
	font-weight: 300;
	margin-bottom: 10px;
	color: #5c5c5c;
}

#white_box3 p:last-of-type {
	font-weight: 300;
	margin-bottom: 10px;
	color: #5c5c5c;

}

/*section cennik*/

#cennik {
	color: rgb(39, 184, 150);
	background-color: #f0f0f0;
}

/*text_section - klasa odpowiedzialna za tekst na początku sekcji cennik i kontakt*/
.text_section {
	text-transform: uppercase;
	padding-bottom: 100px;
	padding-top: 30px;
	color: #686868;
}

.text_section h1 {
	font-weight: normal;
	size: 32px;
	width: 300px;
	height: 40px;
	border-bottom: 8px solid rgb(39, 184, 150);
}


/*elementy odpowiedzialne za price_box*/
.price_box {

	position: relative;
	float: left;
	display: inline-block;
	position: relative;
	width: 30%;
	height: 500px;
	margin: 0 auto;
	border: 2px solid #c2c2c2; /*kolor szary*/
	text-align: center;
	z-index: 5;
	margin-bottom: 50px;
	background-color: #f7f7f7;
}

/* po najechaniu na price_box zmieniają się kolory elementów*/
.price_box:hover{
	border: 2px solid rgb(39, 184, 150);
	background-color: rgb(39, 184, 150);
}
 
#standard_plan {
	margin-left: 30px;
	margin-right: 30px;
}

/*kolo_big i kolo_small - klasy odpowiedzialne za kółka w price_box*/

.kolo_big {
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	margin: auto;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:2px solid rgb(217, 217, 217);
	background-color: white;
	z-index: 10;
}

.price_box:hover .kolo_big {
	border:2px solid rgb(39, 184, 150);
	background-color: rgb(39, 184, 150);
} 


.kolo_small {
	position: absolute;
	top: -19px;
	left: 0;
	right: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:2px solid #c2c2c2;
	background-color: #c2c2c2;
	z-index: 10;
}

.price_box:hover .kolo_small {
	border:2px solid white;
	background-color: white;
}
/*tekst basic/standard/advance plan*/
.price_box h1{
	text-transform: uppercase;
	padding: 30px 25px 0 25px;
	color: rgb(39, 184, 150); /*kolor turkusowy*/
	font-weight: normal;
	font-size: 24px;
}

.price_box:hover h1 {
	color: white;
}

.price_circle {
	padding: 25px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #c2c2c2;
	font-size: 42px;
	font-weight: bold;
	color: #c2c2c2;
	margin: 20px auto;
	background-color: white;
}

.price_box:hover .price_circle {
	border: 2px solid rgb(39, 184, 150);
	background-color: white;
	color: rgb(39, 184, 150);
}

.price_circle sup{
	font-size: 16px;
}
.price_circle p{
	font-size: 16px;
	text-transform: uppercase;
}

.plan_options {
	width: 100%;
	height: 50px;
	background-color: #e3e3e3;
	color: #9c9c9c;
	font-size: 24px;
	padding: 10px;
}

.price_box:hover .plan_options {
	background-color: white;
	color: #999999;
}

.plan_options:nth-child(even) {
	background-color: #f0f0f0;
	color: #808080;
}

.price_box:hover .plan_options:nth-child(even) {
	background-color: #f0f0f0;
	color: #999999;
}

.price_box >button {
	position: absolute;
	background-color: rgb(39, 184, 150);
	font-size: 16px;
	padding: 10px 30px;
	color: white;
	vertical-align: middle;
	border: none;
	text-transform: uppercase;
	border-radius: 5%;
	left: 80px;
	bottom: 10px;		
}

.price_box:hover button {
	background-color: white;
	color: rgb(39, 184, 150);
}
footer {
	width: 100%;
	height: 50px;
	background-color: white; 
	font-size:20px;
	line-height: 40px;
}

#tekst_coders {
	float: left;
	display: inline-block;
	margin: auto 0;
}

#tekst_logo {
	float: right;
	display: inline-block;
}





/*@media all (max-width: 999px) { jeżeli urządzenie ma mniej niż 999px strona zminiejsz się responsywnie, wykorzystuje
	niżej podane ustawienia i ignoruje wcześniejszy css

	.container {
		width: 90%
		margin: 0 5%;
	}
} */
