
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/../fonts/Raleway-ExtraBold.eot');
	src: url('../fonts/../fonts/../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-ExtraBoldItalic.eot');
	src: url('../fonts/../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Regular.eot');
	src: url('../fonts/../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-ThinItalic.eot');
	src: url('../fonts/../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ThinItalic.woff') format('woff'),
		url('../fonts/Raleway-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-BlackItalic.eot');
	src: url('../fonts/../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-BlackItalic.woff') format('woff'),
		url('../fonts/Raleway-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Black.eot');
	src: url('../fonts/../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Italic.eot');
	src: url('../fonts/../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Italic.woff') format('woff'),
		url('../fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Thin.eot');
	src: url('../fonts/../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-LightItalic.eot');
	src: url('../fonts/../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-LightItalic.woff') format('woff'),
		url('../fonts/Raleway-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Light.eot');
	src: url('../fonts/../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Bold.eot');
	src: url('../fonts/../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-SemiBold.eot');
	src: url('../fonts/../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-ExtraLight.eot');
	src: url('../fonts/../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraLight.woff') format('woff'),
		url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-BoldItalic.eot');
	src: url('../fonts/../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-BoldItalic.woff') format('woff'),
		url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-ExtraLightItalic.eot');
	src: url('../fonts/../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-Medium.eot');
	src: url('../fonts/../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-MediumItalic.eot');
	src: url('../fonts/../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-MediumItalic.woff') format('woff'),
		url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/../fonts/Raleway-SemiBoldItalic.eot');
	src: url('../fonts/../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}



* {
	font-family: "Raleway" ;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	width: 100%; 
}

.container { 
	position: relative;
	width: 1000px;
	height: inherit;
	margin: 0 auto;
}

.row {
	width: 50%;
	height: auto;
	float: left;
}

/*------------header-------------------------*/

header {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color: black;
	line-height: 60px;
	text-transform: uppercase;
}
header a {
    text-decoration: none;
    color: white;
      
}
header a:hover {
    color: rgb(39, 184, 150);
}

.menu_list li {
	float: left;
    margin-left: 25px;
    margin-right: 25px;
    background-color: black;
    position: relative;
    
}

.menu_list {
	list-style-type: none;
	float: right;
	display: block;
	float: right;
	color: white;
    position: relative;
    text-align: center;
}
/*------------hover menu list-----------------*/
.menu_list_hover {
	display: none;
	font-size:12px;
	line-height:32px;
	padding: 0;
    margin-top: 15px;
	list-style-type: none;
    position: absolute;
    left: -45px;
}

.menu_list_hover li {
	background-color:black;
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
      
}


.triangle {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: -6px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    margin: 0 auto;
}


#sit_on_chair {
	color: white;
	float: left;
	display: inline-block;
}
/* Ustawienie koloru dla elementów span*/
span {
	color: rgb(39, 184, 150);
	font-weight: bold;
}

section {
	width: 100%;
	display: inline-block;
}

/*Ustawienia sekcja 1*/

.banner {
    height: 450px;
}
#info {
   
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.06, #DCDBE1),
	color-stop(1, #F9F9F9),
	color-stop(1, #F8F8F8)
);
    background-image: -o-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
    background-image: -moz-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
    background-image: -webkit-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
    background-image: -ms-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
    background-image: linear-gradient(to top, #DCDBE1 6%, #F9F9\    F9 100%, #F8F8F8 100%);;
    }


#background_sec1 {
	position: relative;
	width: 40%;
	height: 300px;
	padding: 15px;
    padding-top: 40px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#arrow_left {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: left;
	margin-top: 150px;
}

#arrow_right {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: right;
	margin-top: 150px;
}

#title {
	position: relative;
	float: left;
	padding: 40px;
	width: 450px;
	height: 300px;
	margin-top: 70px;
}

#title > h1 {
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
}

#title p {
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: #2e2e2e;	
	line-height: 20px;
}

#title >button {
	background-color: rgb(39, 184, 150);
	border-radius: 10px;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 40px;
	text-transform: uppercase;
	color: white;
	margin-top: 20px;
	margin-left: 100px;
	vertical-align: middle;


}

#photo {
	background-color: white;
	display: inline-block;
}


/*white_box - klasa odpowiedzialna za div w sekcji photo; ustawia bazowe prostokąty*/
.white_box {
	width: 300px;
	height: 210px;
	float: left;
	display: inline-block;
	background-color: white;
	margin: 20px auto;
}

.white_box span{
	color: black;
	text-transform: uppercase;
}

/*white_box h1: odpowiada za tekst z nazwą krzeseł w pierwszych dwóch div;
 pasek pod tekstem ustawiony jako border-bottom*/
.white_box h1 {
	font-size: 15px;
	font-weight: 600;
	width: 130px;
	height: 30px;
	border-bottom: 8px solid rgb(39, 184, 150);
}



/*white_box1 - id pierwszego prostokąta w sekcji photo, w tle wstawiony obrazek*/
#white_box1 {

	background-image: url("../images/box1_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


/*#white_box1:hover {
	background-image: none;
}*/

/*white_box1 div: odpowiada za pasek, na któym znajduje się tekst opisu krzesła na
div pierwszym; kolor biały, przezroczystość ustawiona na 50%*/
#white_box1 div{
	background-color: rgba(255, 255, 255, .5);
	width: 300px;
	height: 50px;
	margin-top: 140px;
	padding-top: 10px;
	padding-left: 10px;
}

/*white_box2 - id drugiego prostokąta w sekcji photo, w tle wstawiony obrazek*/
#white_box2 {
	background-image: url("../images/box2_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: bold;
}

/*white_box2 div: odpowiada za pasek, na któym znajduje się tekst opisu krzesła na
div pierwszym; kolor biały, przezroczystość ustawiona na 50%*/
#white_box2 div{
	background-color: rgba(255, 255, 255, .5);
	width: 300px;
	height: 50px;
	margin-top: 140px;
	padding-top: 10px;
	padding-left: 10px;
}

#white_box3 {

	float: right;
	border: 1px solid rgb(217, 217, 217);
	width: 300px;
	height: 230px;
	padding: 10px;
}

#white_box_text  {
	width: 180px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 10px solid rgb(39, 184, 150);
	
}

#white_box3 p:first-of-type {
	font-weight: 300;
	margin-bottom: 10px;
	color: #5c5c5c;
}

#white_box3 p:last-of-type {
	font-weight: 300;
	margin-bottom: 10px;
	color: #5c5c5c;

}

/*section cennik*/

#cennik {
	color: rgb(39, 184, 150);
	background-color: #f0f0f0;
}

/*text_section - klasa odpowiedzialna za tekst na początku sekcji cennik i kontakt*/
.text_section {
	text-transform: uppercase;
	padding-bottom: 100px;
	padding-top: 30px;
	color: #686868;
}

.text_section h1 {
	font-weight: normal;
	size: 32px;
	width: 300px;
	height: 40px;
	border-bottom: 8px solid rgb(39, 184, 150);
}


/*elementy odpowiedzialne za price_box*/
.price_box {

	position: relative;
	float: left;
	display: inline-block;
	position: relative;
	width: 30%;
	height: 500px;
	margin: 0 auto;
	border: 2px solid #c2c2c2; /*kolor szary*/
	text-align: center;
	z-index: 5;
	margin-bottom: 50px;
	background-color: #f7f7f7;
}

/* po najechaniu na price_box zmieniają się kolory elementów*/
.price_box:hover{
	border: 2px solid rgb(39, 184, 150);
	background-color: rgb(39, 184, 150);
}

.price_box:last-child {
	float: right;
}
 
#standard_plan {
	margin-left: 50px;
	margin-right: 50px;
}

/*kolo_big i kolo_small - klasy odpowiedzialne za kółka w price_box*/

.kolo_big {
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	margin: auto;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:2px solid rgb(217, 217, 217);
	background-color: white;
	z-index: 10;
}

.price_box:hover .kolo_big {
	border:2px solid rgb(39, 184, 150);
	background-color: rgb(39, 184, 150);
} 


.kolo_small {
	position: absolute;
	top: -19px;
	left: 0;
	right: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:2px solid #c2c2c2;
	background-color: #c2c2c2;
	z-index: 10;
}

.price_box:hover .kolo_small {
	border:2px solid white;
	background-color: white;
}


/*tekst basic/standard/advance plan*/
.price_box h1{
	text-transform: uppercase;
	padding: 30px 25px 0 25px;
	color: rgb(39, 184, 150); /*kolor turkusowy*/
	font-weight: normal;
	font-size: 24px;
}

.price_box:hover h1 {
	color: white;
}

.price_circle {
	padding: 25px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #c2c2c2;
	font-size: 42px;
	font-weight: bold;
	color: #c2c2c2;
	margin: 20px auto;
	background-color: white;
}

.price_box:hover .price_circle {
	border: 2px solid rgb(39, 184, 150);
	background-color: white;
	color: rgb(39, 184, 150);
}

.price_circle sup{
	font-size: 16px;
}
.price_circle p{
	font-size: 16px;
	text-transform: uppercase;
}

.plan_options {
	width: 100%;
	height: 50px;
	background-color: #e3e3e3;
	color: #9c9c9c;
	font-size: 24px;
	padding: 10px;
}

.price_box:hover .plan_options {
	background-color: white;
	color: #999999;
}

.plan_options:nth-child(even) {
	background-color: #f0f0f0;
	color: #808080;
}

.price_box:hover .plan_options:nth-child(even) {
	background-color: #f0f0f0;
	color: #999999;
}

.price_box >button {
	position: absolute;
	background-color: rgb(39, 184, 150);
	font-size: 16px;
	padding: 10px 30px;
	color: white;
	vertical-align: middle;
	border: none;
	text-transform: uppercase;
	border-radius: 5%;
	left: 80px;
	bottom: 10px;		
}

.price_box:hover button {
	background-color: white;
	color: rgb(39, 184, 150);
}

.kontakt_box {
	position: relative;
	height: 500px;
}
.kontakt_box div:first-child{
	width: 60%;
	height: 500px;
}
form input {
	width: 100%;
	height: 70px;
	margin-bottom: 25px;
	border: 1px solid rgba(39, 184, 150, .6);
	padding: 10px;
	font-weight: lighter;
	font-size: 28px;
}

textarea {
	border: 1px solid rgba(39, 184, 150, .6);
	padding: 10px;
	font-weight: lighter;
	font-size: 28px;
	resize: none;
	width: 100%;
}

.kontakt_box div {
	float: left;
}
.kontakt_box div:last-child {
	position: relative;
	width: 40%;
}
.kontakt_box img {
	position: absolute;
	top: -40px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}

.kontakt_box button {
	position: absolute;
	background-color: rgb(39, 184, 150);
	font-size: 36px;
	font-weight: bold;
	padding: 10px 90px;
	color: white;
	vertical-align: middle;
	border: none;
	text-transform: uppercase;
	border-radius: 10px;
	left: 80px;
	bottom: 10px;
	margin-bottom: 110px;
}

#checkbox {

  width: 40px;
  height: 40px;
  position: absolute;
  top: 230px;
  right: 0;
  bottom: 0;
  left: 85px;
  background:url("../images/form_ok.jpg") 0 0 no-repeat;
 
}

#checkbox:after {
	content: url("../images/form_ok.jpg") 0 0 no-repeat;
 
}

label{
  width: 240px;
  height: 40px;
  position: absolute;
  top: 230px;
  right: 0;
  bottom: 0;
  left: 140px;
  font-size: 17px;
  color: #9c9c9c;

}

footer {
	width: 100%;
	height: 50px;
	background-color: white; 
	font-size:20px;
	line-height: 40px;
	color: #9c9c9c;
}

footer .container div:nth-child(2) {
	float: left;
}

footer img {
	float: left;

}
footer img:first-of-type{
	padding-left: 210px;
}

#tekst_logo {
	float: right;
	display: inline-block;
	color: #9c9c9c;
	text-transform: uppercase;
	font-weight: normal;
	bottom: 50px;
}
#tekst_logo span {
	font-weight: bold;
	color: #9c9c9c;
}






/*@media all (max-width: 999px) { jeżeli urządzenie ma mniej niż 999px strona zminiejsz się responsywnie, wykorzystuje
	niżej podane ustawienia i ignoruje wcześniejszy css

	.container {
		width: 90%
		margin: 0 5%;
	}
} */
