/***Wskazówki**
* Podziel stronę odpowiednio (section, header, footer) 
* Czarne tło pod headerem oraz pod trzema boxami powinny być rozciągnięte na 100% szerokości strony.
* Linie czerwone przedstawione na powyższym przykładzie traktuj jako linie pomocnicze będące obramowaniem 
kontenera środkującego. Odpowiednio go nazwij np. main_width. */

* {
	font-family: "Raleway", Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%; /*zawsze przyjmuje szerokość urządzenia*/
}

.container { /*pomaga wyśrodkować elementy*/
	position: relative;
	width: 1000px;
	height: inherit;
	margin: 0 auto;

}
.row {
	width: 50%;
	height: auto;
	float: left;
}

/*1. css dla elementu header*/

header {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background-color: black;
	line-height: 60px;
	text-transform: uppercase;
}

li {
	float: left;
	padding-left: 30px;
}

#menu_list {
	list-style-type: none;
	float: right;
	display: inline-block;
	float: right;
	color: white;

}

#sit_on_chair {
	color: white;
	float: left;
	display: inline-block;
	
}

/* 2. Ustawienie koloru dla elementów span*/
span {
	color: rgb(39, 184, 150);
}

section {
	width: 100%;
	display: inline-block;
}

/*3. Ustawienia sekcja 1*/

#info {
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.06, #DCDBE1),
	color-stop(1, #F9F9F9),
	color-stop(1, #F8F8F8)
);
background-image: -o-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -moz-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -webkit-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: -ms-linear-gradient(top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);
background-image: linear-gradient(to top, #DCDBE1 6%, #F9F9F9 100%, #F8F8F8 100%);;
}


#background_sec1 {
	
	position: relative;
	width: 40%;
	height: 300px;
	padding: 15px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#arrow_left {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: left;
	margin-top: 150px;
}

#arrow_right {
	width: 64px;
	height: 64px;
	color: rgb(39, 184, 150);
	font-size: 64px;
	float: right;
	margin-top: 150px;
}
#title {
	position: relative;
	float: left;
	padding: 10px;
	width: 450px;
	height: 300px;
	margin-top: 70px;
}
#title > h1 {
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-size: 32px;
}

#title p:first-child {
	padding: 10px;
	text-align: center;
	font-size: 16px;
	
}
#title >button {
	background-color: rgb(39, 184, 150);
	border-radius: 10px;
	font-size: 18px;
	width: 250px;
	height: 50px;
	padding: 10px;
	text-transform: uppercase;
	color: white;
	margin-left: 100px;
	vertical-align: middle;

}

#photo {
	background-color: white;
	display: inline-block;
}

.white_box {
	width: 300px;
	height: 200px;
	float: left;
	display: inline-block;
	background-color: white;
	margin: 20px auto;
}

#white_box1 {

	background-image: url("../images/box1_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
	
#white_box2 {

	background-image: url("../images/box2_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 40px;
	margin-right: 40px;
}

#white_box3 {

	border: 1px solid grey;
	width: 300px;
	height: 230px;
	padding: 10px;
}

#white_box_text  {
	width: 180px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 10px solid rgb(39, 184, 150);
	
}
#white_box3 p:first-of-type {
	font-weight: 300;
	margin-bottom: 10px;

}

#white_box3 p:last-of-type {
	font-weight: 300;
	margin-bottom: 10px;

}
footer {
	width: 100%;
	height: 50px;
	background-color: white; 
	font-size:20px;
	line-height: 40px;
}

#tekst_coders {
	float: left;
	display: inline-block;
	margin: auto 0;
}

#tekst_logo {
	float: right;
	display: inline-block;
}





/*@media all (max-width: 999px) { jeżeli urządzenie ma mniej niż 999px strona zminiejsz się responsywnie, wykorzystuje
	niżej podane ustawienia i ignoruje wcześniejszy css

	.container {
		width: 90%
		margin: 0 5%;
	}
} */
